body {
    background: linear-gradient(45deg,  #EECFBA, #C5DDE8) fixed;
}

.header {
    margin-top: 3%;
    margin-left: 30%;
}

.content {
    margin-left: 40%;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.boy, .glass, .letters, .key, .alley {
    text-align: justify;
    padding: 10px 30px 10px 20px;
}

.boy h4 {
    margin-left: 40%;
}

.boy p, .glass p, .letters p, .key p, .alley p {
    text-indent: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.glass h4 {
    margin-left: 40.5%;
}

.letters h4 {
    margin-left: 40.5%;
}

.key h4 {
    margin-left: 40.5%;
}

.alley h4 {
    margin-left: 40.5%;
}

.home {
    margin-top: 5%;
    margin-left: 45%;
    font-weight: bold;
    font-size: 18px;
}