body {
    background-color: #FFE4E1;
}

.header {
    margin: 3% 0 3% 43%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {    
    display: flex;    
    flex-wrap: wrap;    
    row-gap: 25px;   
    column-gap: 200px;
    margin: 0 0 0% 20%;
}    

.product-wrap {
    width: 150px;
    background: white;
    text-align: center;
    font-size: 14px;
    font-family: Lora;
    text-transform: uppercase;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2%;
}

.product-item {
    position: relative;
    overflow: hidden;
}

.product-wrap img {
    display: block;
    width: 100%;
    height: 180px;
}

.product-buttons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 102, 102, 0.8);
    opacity: 0;
    transition: .3s ease-in-out;
}

.button {
    text-decoration: none;
    color: rgb(253, 251, 251);
    font-size: 12px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgb(0, 0, 0);
    transform: translate(-50%, -50%) scale(0);
    transition: .3s ease-in-out;
}
 
.product-item:hover .product-buttons {
    opacity: 1;
}

.product-item:hover .button {
    transform: translate(-50%, -50%) scale(1);
}

.button:hover {
    background: black;
}

.product-title {
    color: #5e5e5e;
}

.product-title a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    margin: 15px 0 5px;
    padding-bottom: 7px;
    display: block;
    position: relative;
    transition: .3s ease-in-out;
}

.product-title a:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background: #2e2e2e;
    left: 50%;
    margin-left: -20px;
    bottom: 0;
    transition: .3s ease-in-out;
}

.product-title a:hover {
    color: #050505;
}

.product-title:hover a:after {
    background: #c0a97a;
}

.product-price {
    font-size: 20px;
    color: #050505;
    font-weight: 700;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.footer {
    word-spacing: 50px;
    margin: 5% 0 0 45%;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}